<%- include ("../partials/header") %>
<% if((currentUser && currentUser.isAdmin)){ %>
<div class="alert alert-success" role="alert">
    Welcome Administrator.
</div>
<% } %>
<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpCamp
        </h1>
        <p>View our handpicked campgrounds from all over the world.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
        </p>
    </div>
</header>

<div class="row text-center">
    <% campgrounds.forEach(function(campground){ %>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card fulfill">
            <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
            <div class="card-body">
                <h5 class="card-title"><%= campground.name %></h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<%- include ("../partials/footer") %>